body {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #362;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #25594D;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

p {
  margin: 20px 0;
}

a, a:hover, a:visited {
  color: #4D9900;
  text-decoration: underline;
}

pre, code {
  border: none;
  background: #D5E1B4;
}

code, pre code {
  color: #484F40;
}

pre {
  border-bottom: 2px solid #bec9a1;
  font-size: 14px;
}

code {
  font-size: 0.84em;
}

pre code {
  background: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: 0;
}

.deprecation {
  background: #EDCAAC;
  padding: 1px 30px;
}

.deprecation, .deprecation a {
  color: #a41211;
}

.logo {
  font-family: 'Lilita One', sans-serif;
  font-size: 64px;
  margin: 20px 0 40px 0;
}

.logo a {
  color: #a41211;
  text-decoration: none;
}

.logo img {
  width: 60px;
  vertical-align: -8px;
}

.mobile-logo {
  text-align: center;
}

.sidebar {
  font-size: 15px;
  color: #777;
}

.sidebar a {
  color: #a41211;
}

.sidebar p {
  margin: 10px 0;
}

@media (max-width: 767px) {
  .sidebar {
    text-align: center;
    margin-top: 40px;
  }

  .sidebar .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-logo {
    display: none;
  }

  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content h1 {
    margin: 60px 0 55px 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    overflow-y: auto;
    padding-left: 40px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
  }

  .deprecation, .content {
    margin-left: 320px;
    max-width: 650px;
  }
}

.nav {
  margin: 15px 0;
}

.nav li a {
  display: block;
  padding: 5px 0;
  line-height: 1.2;
  text-decoration: none;
}

.nav li a:hover, .nav li a:focus {
  text-decoration: underline;
  background: none;
}

.nav ul {
  padding-left: 20px;
  list-style: none;
}

.badges {
  margin: 40px 0;
}

a.btn {
  background: #25594D;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

a.btn:hover {
  color: white;
}

.strapline {
  font-size: 30px;
}

@media (min-width: 768px) {
  .strapline {
    font-size: 40px;
    display: block;
    line-height: 1.2;
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

strong {
  font-weight: 700;
}
