PyYAML==3.11
cached-property==1.2.0
dockerpty==0.3.4
docopt==0.6.1
enum34==1.0.4
git+https://github.com/docker/docker-py.git@afc64d3b5cb9590d891615ed391f892de5a4443a#egg=docker-py
jsonschema==2.5.1
requests==2.7.0
six==1.7.3
texttable==0.8.4
websocket-client==0.32.0
