body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333;

  padding-top: 82px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

p {
  margin: 20px 0;
}

a, a:hover, a:visited {
  color: #a41211;
  text-decoration: none;
  font-weight: 400;
}

pre, code {
  border: none;
  background: #E7EBDD;
}

code, pre code {
  color: #484F40;
}

pre {
  border-bottom: 2px solid #bec9a1;
  font-size: 14px;
}

code {
  font-size: 0.84em;
}

pre code {
  background: none;
}

img {
  max-width: 100%;
}

.navbar {
  background: #E7EBDD;
  border-bottom: 2px solid #bec9a1;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a, .navbar a:hover, .navbar a:focus {
  color: #a41211;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  height: 62px;
}

.navbar-brand img {
  width: 30px;
  vertical-align: -2px;
}

.navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 22px;
  text-decoration: none;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: #D5DFC7;
}

.navbar-toggle {
  border-color: #bec9a1;
  margin-top: 14px;
}

.navbar-toggle .icon-bar {
  background: #bec9a1;
}

.btn {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary, a.btn-primary {
  color: white;
  background: #5B3A5C;
}

.btn-primary:hover, a.btn-primary:hover {
  color: white;
  background: #946F96;
}

.homepage {
  padding-top: 0;
}

.leader {
  text-align: center;
  background: #5B3A5C;
  color: white;
  padding-top: 90px;
  padding-bottom: 20px;
}

.leader h1 {
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .leader {
    padding-top: 150px;
    padding-bottom: 70px;
  }

  .leader h1 {
    font-size: 40px;
  }
}

.homepage-section {
  padding: 40px 0;
}

.homepage-section h2 {
  margin-top: 0;
  font-weight: 700;
  color: #5B3A5C;
}

.call-to-action {
  color: #5B3A5C;
  background: #E0D1E0;
  font-weight: 700;
}

.call-to-action .btn {
  margin-left: 16px;
  vertical-align: 1px;
}

.footer {
  margin-top: 30px;
  background: #E7EBDD;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 400;
  color: #696F55;
}

.footer .badges {
  margin-left: 20px;
}

.sidebar {
  margin-top: 20px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 4px 0;
}

.sidebar a {
  font-weight: 300;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar p {
  color: #666;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}