body {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #362;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #25594D;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

p {
  margin: 20px 0;
}

a, a:hover, a:visited {
  color: #4D9900;
  text-decoration: underline;
}

pre, code {
  border: none;
  background: #D5E1B4;
}

code, pre code {
  color: #484F40;
}

pre {
  border-bottom: 2px solid #bec9a1;
  font-size: 14px;
}

code {
  font-size: 0.84em;
}

pre code {
  background: none;
}

img {
  max-width: 100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 481px) {
  .github-top {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.content h1 {
  display: none;
}

.logo {
  text-align: center;
  font-family: 'Lilita One', sans-serif;
  font-size: 80px;
  color: #a41211;
  margin: 20px 0 40px 0;
}

.logo img {
  width: 100px;
  vertical-align: -17px;
}

@media (min-width: 481px) {
  .logo {
    font-size: 96px;
    margin-top: 40px;
  }
  .logo img {
    vertical-align: -40px;
    width: 150px;
    margin-right: 20px;
  }
}

.github-top,
.github-bottom {
  text-align: center;
}

.github-top {
  margin: 30px;
}

.github-bottom {
  margin: 60px 0;
}

a.btn {
  background: #25594D;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

a.btn:hover {
  color: white;
}



