## Reference: https://github.com/amannn/action-semantic-pull-request
name: PR title

on:
  pull_request:
    types:
    - opened
    - reopened
    - edited
    - synchronize

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      statuses: write
    steps:
    - uses: amannn/action-semantic-pull-request@v5.4.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        requireScope: false
